################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

# Visual Studio Temp
#*.json
#*.sqlite
#*.ipch
#*.db
#*.db-wal
#*.db-shm
#*.sqlite-journal

# Debug
#*.opendb
#*.lastbuildstate
#*.tlog
#*.pch
#*.log
#*.obj
#*.idb
#*.pdb
#*.exe
#*.ilk
#*.suo

Framework.lib
Framework.pdb
*Debug*
*.vs*
*_Resurce*

# 파일 크기 때문에 새로 받아야할 듯 
assimp-vc140-mt.pdb
